name: Publish NuGet on release

on:
  push:
    branches:
      - release/*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Get version numer
      uses: diligencia/semantic-branch-version@1.0
      id: getversion
      
    - name: Create packages
      run: dotnet pack --no-build -c Release -o . -p:PackageVersion=${{ steps.getversion.outputs.VERSION }}
      
    - name: Push packages
      run: dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_KEY}} --skip-duplicate

    - name: Create a release
      uses: actions/create-release@v1
      with:
        tag_name: v${{ steps.getversion.outputs.VERSION }}
        release_name: v${{ steps.getversion.outputs.VERSION }}
